<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <!-- This Menu Item will appear in the Upper bar, That's why It needs NO parent or action -->
        <menuitem id="lease_sale_root" name="Lease Sale"/>

        <!-- This Menu Item Must have a parent -->
        <menuitem id="lease_sale_categ" name="Lease Sales" parent="lease_sale_root" sequence="5"/>
        <menuitem id="lease_sale_customer_categ" name="Customer" parent="lease_sale_root" sequence="10"/>
        <menuitem id="lease_sale_customer_configuration" name="Configuration" parent="lease_sale_root" sequence="10"/>


         <!-- This Menu Item must have a parent and an action -->
        <menuitem id="lease_sale_all_action" parent="lease_sale_categ" name="Lease Sales" action="lease_sale_view_action"/>
        <menuitem id="lease_sale_low_action" parent="lease_sale_categ" name="Lease Sales Low Risk" action="lease_sale_view_action_low_risk"/>
        <menuitem id="lease_sale_med_action" parent="lease_sale_categ" name="Lease Sales Moderate Risk" action="lease_sale_view_action_med_risk"/>
        <menuitem id="lease_sale_high_action" parent="lease_sale_categ" name="Lease Sales High Risk" action="lease_sale_view_action_high_risk"/>
        <menuitem id="lease_sale_customer_action" parent="lease_sale_customer_categ" name="Lease Sale Customer" action="lease_customer_action"/>
        <menuitem id="lease_sale_guarantor_action" parent="lease_sale_customer_categ" name="Guarantor" action="guarantor_sd_action"/>
        <menuitem id="lease_sale_action" parent="lease_sale_customer_categ" name="Instalments" action="instalment_action"/>


        <!-- This Menu Item must have a parent and an action other views or configuration -->
        <menuitem id="res_partner_cast_menu" name="Cast" parent="lease_sale_customer_configuration" action="cast_action"/>
        <menuitem id="res_partner_marital_status_menu" name="Martial Status" parent="lease_sale_customer_configuration" action="marital_status_action"/>
        <menuitem id="residental_status_menu" name="Residential Status" parent="lease_sale_customer_configuration" action="residantal_statis_action"/>
        <menuitem id="rrelation_action_status_menu" name="Relations" parent="lease_sale_customer_configuration" action="relation_action"/>
        <menuitem id="customer_address_area_menu" name="Customer Address Area" parent="lease_sale_customer_configuration" action="customer_area_action"/>
        <menuitem id="customer_address_road_menu" name="Customer Address Road" parent="lease_sale_customer_configuration" action="customer_road_action"/>
        <menuitem id="customer_address_city_menu" name="Customer Address City" parent="lease_sale_customer_configuration" action="customer_city_action"/>

    </data>
</odoo>